/*.ride-item {*/
/*    padding: 10px;*/
/*    border: 1px solid black;*/
/*    margin-bottom: 10px;*/
/*}*/

.ride-item {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 8px;
}

/*.ride-item a {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    font-weight: bold;*/
/*    margin-top: 10px;*/
/*    align-self: flex-end;*/
/*}*/

.rides-container {
    border: none;
    padding: 20px;
    margin: 10px;

}