.ride-item {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 20px;
    margin: 10px 10px 30px 10px;
    text-decoration: none;
    border-radius: 8px;
}

.rides-container {
    border: none;
    padding: 20px;
    margin: 10px;

}

.ride-item p {
    margin-right: 20px; /* adjust the value as needed */
}

.address-container {
    display: flex;
    flex-direction: column;
}

.pickup-destination-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    padding-bottom: 10px;
}

.pickup-destination-container p {
    font-size: 22px;
    font-weight: bold; 

}

.city{
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#divider {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

#no-rides-found-message {
    padding-top: 35px;
    margin-top: 35px;
}