.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px ;
    margin-bottom: 100px
}

.bio-form, .vehicle-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.bio-section, .vehicle-section {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}


#bio-field {
    width: 100%;
}

.vehicle-submit-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.foto-name{
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    border: none;
    padding: 12px 12px 9px 12px;
    margin-bottom: 15px;
    background: linear-gradient(to bottom, #4cad98, rgba(76, 173, 152, 0.3));
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.bio-label {
    margin-bottom: 16px;
}

#bio-field::placeholder {
    padding-left: 8px;
    padding-top: 8px;
}
.bio-text {
    margin-bottom: 16px;
}


.image-upload {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#myHeader {
    margin-left: 40px;
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.delete-button {
    margin: 4px 2px 4px;
    padding: 4px 8px;
    background: #F0F0F0;
    color: #000000;
}
#contact-details {
    margin-bottom: 2px;
    padding-bottom: 2px;
}
#ride-status {
    color: #4CAD98;
    padding-top: 5px;
    padding-bottom: 23px;
}