.foto-name{
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    border: none;
    /*color: white;*/
    padding: 0px 0px;
    margin-bottom: 15px;
    background-color: #f5ab00;
    color: white;
    font-weight: bold;

    border: 2px solid black;
}

.bio-form {
    display: flex;
    flex-direction: column;
    /*background-color: transparent ;*/
}

.bio-label {
    margin-bottom: 16px; /* Adjust this value to add more space between the label and the textarea */
}

#bio-field::placeholder {
    padding-left: 8px; /* Add space from the left border */
    padding-top: 8px; /* Add space from the top border */
}
.bio-text {
    margin-bottom: 16px; /* Adjust this value to add more space between the <p> element and the textarea */
}


/*///hieronder de copy van form css*/
.image-upload {
    width: 100px; /* Stel de gewenste breedte in */
    height: 100px; /* Stel de gewenste hoogte in */
    object-fit: cover; /* Zorgt ervoor dat de afbeelding proportioneel wordt geschaald */
    border-radius: 50%; /* Maakt de afbeelding rond */
}

.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.file-upload-actions {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 100%;*/
/*    margin-top: 10px;*/
/*}*/

/*.file-upload-container input[type="file"] {*/
/*    margin-right: 10px;*/
/*}*/
