/*.home-page{*/
/*    background-color: #FEE9E1;*/
/*    padding: 30px;*/
/*    min-height: 100vh;*/
/*!*    !*!/laatste is belangrijk om de achtergrond helemaal tot het einde vh scherm te laten lopen! alle pag. doe*/
/*}*/

/*//*/
home {
    /*background: #F5F5F5;*/
    background-color: white;
}

.home-page{
    display: flex;
    position: relative;
    /*padding: 0px;*/
    /*min-height: 100vh;*/
    width: 100%;
    flex-direction: column;

    /*border: 3px solid red;*/


}

/*.inner-content-container default-area-padding default-text-restrictor{*/
/*    position: relative;*/
/*    padding: 30px;*/
/*    min-height: 100vh;*/
/*    background-color: yellow;*/
/*}*/





/*///*/


.home img {
    width: 100%;
    height: auto;

    object-fit: cover;

}

.header-text {
    position: absolute;
    top: 65%;
    left: 27%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: white;

    /*border: 3px solid blue;*/



}

.home h1 {
    font-size: 32px;
    margin-bottom: 10px;

    border: 3px solid black;
}

.home p {
    font-size: 18px;
    margin-bottom: 0;

    border: 3px solid black;
}


.form-container {
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate(-50%, -50%);
    /*padding: 20px;*/
    padding: 0px;
    text-align: center;
    /*background-color: rgba(255, 255, 255, 0);*/
    /*background-color: darkseagreen;*/
    background-color: white;
    /*background-color: #4fb3bf;*/
    border-radius: 4px;

    /*color: white;*/


    /*border: 3px solid black;*/
}

.form-buttonblock-home {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    border: none;
    /*color: white;*/
    padding: 0px 0px;
    margin-bottom: 0px;
    background-color: #f5ab00;
    color: white;
    font-weight: bold;

    /*border: 2px solid black;*/
}

.form-button-home {
    border: 3px solid #F5F5F5;

    /*border: 3px silid #4CAD98;*/
    /*border-left: 2px solid black ;*/
    margin: 0px;
    border-radius: 0%;
    flex: 1;
    flex-grow: 1;
    padding: 13px;

}
button:active {
    /*background-color: #007bff;*/
    background-color: #333333;
    /*background-color: #556b2f;*/
    border-color: #333333;
}
/*////*/
.uitleg-box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #4fb3bf;*/
    /*background-color: darkseagreen;*/
    /*background-color: #4FB37B;*/
    background-color: #4CAD98;
}
.uitleg-box {
    text-align: center;

}

.tekst-box h3 {
    color: #fff;
}

/* --------------- 4.3 Pros --------------------------- */

#pros {
    background-color: #F3F6F9;
}

.work-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 100px 0;
}

/*Draai de volgorde van de afbeelding en tekst om bij de 1e, 3e, etc.*/
.work-article:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.work-article__image-wrapper {
    /*De afbeelding-wrapper moet in de basis 800px breed zijn...*/
    flex-basis: 800px;
    /*Als er meer ruimte is, mag hij NIET groter worden*/
    flex-grow: 0;
    /*Als er minder ruimte is, krimpt hij 1 fractie (dus alles) van de ingeleverde ruimte*/
    flex-shrink: 1;
}

.work-article__image-wrapper img {
    /*Om afbeeldingen goed mee te laten schalen met de wrapper, zet je de afbeelding zelf altijd op 100% breedte.
    Zo past de afbeelding zich telkens aan, aan zijn omgeving*/
    width: 100%;
    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);
}

.work-article__info-container {
    /*De content moet in de basis 480 breed zijn*/
    flex-basis: 480px;
    /*Als er meer ruimte is, mag hij NIET groter worden*/
    flex-grow: 0;
    /*Als er minder ruimte is, mag hij NIET kleiner worden*/
    flex-shrink: 0;
    padding: 0 50px 50px 50px;
}

.work-article__title-squiggle {
    margin-top: 24px;
    width: 57px;
    height: 6px;
    /*background-image: url(./assets/squiggle_line.svg);*/
}

.work-article__info-container p {
    font-weight: 400;
    margin: 50px 0;
}

/*.work-article__project-link {*/
/*    font-size: 14px;*/
/*    font-weight: 600;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 2px;*/
/*}*/
/*/////*/

/* --------------- 4.2 Introduction ------------------- */

#intro {
    background-color: #4CAD98;
    color: #FFFFFF;
}

.intro__link {
    color: #0c0c0c;
    font-weight: 500;
    margin-top: 100px;
}
.expl-box{
    /*background-color: red;*/
    margin: 125px;
    padding: 25px;
    border: 5px solid #FFFFFF;
}
/*////*/






