/* --------------- Header --------------------------- */
.header-text {
    position: absolute;
    top: 65%;
    left: 27%;
    transform: translate(-50%, -50%);
    padding: 20px;
    margin-left: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.cover-img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

#header-slogan{
    margin-left: 100px;
    padding-left: 80px;
}

.form-container {
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 0px;

    text-align: center;
    background-color: white;
    border-radius: 4px;

    width: 350px;
    margin-top: 70px;
}

.search-box {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    border: none;
    margin-bottom: 0px;
    background-color: #f5ab00;
    color: white;
    font-weight: bold;
}

.function-switch-button {
    border: 3px solid #F5F5F5;
    margin: 0px;
    border-radius: 0%;
    flex: 1;
    flex-grow: 1;
    padding: 13px;

}
button:active {
    background-color: #333333;
    border-color: #333333;
}

/* --------------- Pros --------------------------- */

#pros {
    background-color: #F3F6F9;
}

.benefit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0 70px 0;
}

.benefit:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.benefit__image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.benefit__image-wrapper img {
    width: 100%;
    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);
}

.benefit__info-container {
    flex-basis: 480px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 50px 50px 50px;
}

.benefit__info-container p {
    font-weight: 400;
    margin: 50px 0;
}

/* --------------- Zo werkt het ------------------- */

#how-it-works {
    background-color: #4CAD98;
    color: #FFFFFF;
}

.how-it-works__link {
    color: #0c0c0c;
    font-weight: 500;
    margin-top: 100px;
}
.expl-box{
    margin: 125px;
    padding: 25px;
    border: 5px solid #FFFFFF;
}








