.home-page{
    background-color: #FEE9E1;
    padding: 30px;
    min-height: 100vh;
    /*//laatste is belangrijk om de achtergrond helemaal tot het einde vh scherm te laten lopen! alle pag. doen!*/
}