.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #FAD57F;*/
    background-color: #4CAD98;
}

.title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.username {
    margin-top: 10px;
    font-weight: bold;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.message-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.sender-name {
    font-weight: bold;
}

.sender-message {
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.receiver-message {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

/*.new-content-container{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*    margin-top: 20px;*/
/*}*/

.new-content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.new-content-container .content {
    align-items: flex-start;
}

/*////*/
.chat-form {
    border-radius: 0px;
}
/*///*/

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.new-content-container form {
    max-width: none; /* Of welke waarde je ook wilt instellen */
    padding: 0 200px;
}


.label {
    margin-bottom: 5px;
}

.input,
/*.textarea {*/
/*    padding: 5px;*/
/*}*/
.textarea {
    padding: 5px;
    width: 100%; /* Maak het tekstgebied breder */
    /*height: 100px; !* Maak het tekstgebied hoger *!*/
}


.button {
    padding: 5px 10px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}

/*datum/tijd: */
.message-item .message-timestamp {
    margin-top: 5px;
    font-size: 0.8em;
    color: grey;
}


