.timestamp {
    margin-bottom: 25px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-top: 0px;

    color: #4CAD98;
}

.notification-message {
    padding-bottom: 10px;
}

.important-message {
    padding-top: 15px;
    padding-top: 20px;
    color: #4CAD98;
}

