footer {
    background-color: #F5F5F5;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: black;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}