@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat+Subrayada&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&display=swap');
/*tweede import is van concept opdr*/

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Form Styling
    4. Button Styles
    5. Other

    6. Areas
        4.1 Header
        4.2 Introduction
        4.3 Work
        4.4 Services
        4.5 Contact
        4.6 Footer
    7. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
  margin: 0;
  padding: 0;
  /*Dit is belangrijk zodat de breedtes en hoogtes van elementen worden berekend INCLUSIEF padding en borders */
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  /*font-family: 'Bebas Neue', sans-serif;*/
  color: #051524;
  font-weight: 300;
  /*font-size: 20px;*/
  font-size: 16px;
  /*line-height: 24px;*/
}

/* De buitenste container is altijd de volledige schermbreedte. Het is een flexbox container die zijn inhoud altijd netjes horizontaal centreert */
.outer-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*De binnenste container is maximaal 1400px breed, zodat het er ook goed uitziet op brede schermen.
Hij mag krimpen als het scherm minder breed wordt, maar niet groeien als er meer ruimte is.*/
.inner-content-container {
  flex-basis: 1200px;
  flex-shrink: 1;
  flex-grow: 0;
  /*We voegen margin toe aan de linker- en rechterkant, zodat de content nooit helemaal tegen de rand gedrukt kan worden*/
  margin: 0 20px;
  /*We zorgen er ook voor dat deze flex-item op haar beurt ook weer een flexbox container is, waarin alle children onder elkaar komen te staan*/
  display: flex;
  flex-direction: column;
  justify-content: center;

  /*background-color: #ea7e1f;*/
}

/* ------------------------------- 2. Typography ----------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: 'Neucha', 'Times New Roman', cursive;*/
  /*font-family: Arial;*/

  font-family: Merriweather, 'Times New Roman', serif;

  /*font-family: Roboto, Arial, Helvetica, sans-serif;*/
  /*font-family: Roboto;*/
}

h1, h2 {
  font-size: 46px;
  padding: 16px 0;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
  padding: 12px 0;
  margin: 24px 0;
}

h5 {
  font-size: 32px;
  padding: 12px 0;
}

h6 {
  font-size: 32px;
  line-height: 1.5;
  padding: 12px 0;
}

p {
  margin: 12px 0;
  font-family: Helvetica;
  letter-spacing: 1px;
}

/* ------------------------------- 3. Form Styling ----------------------------------- */

/*Algemene formulier-styling*/
form {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  padding: 32px;
  max-width: 300px;
  border-radius: 4px;
}

form label {
  margin: 4px 0;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 4px 8px;
  margin: 6px 0;
  background-color: white;
  border: none;
  border-radius: 4px;
}

h2 {
  margin: 32px 0 24px 0;
}

.content {
  margin: 0px;
  /*was 32px*/
}

.form-button {
  width: 100%;
}


/* ------------------------------- 4. Button Styles ----------------------------------- */

/*Algemene button styling*/
button {
  background-color: #4CAD98;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  border-radius: 3px;
}

/*Zorgt ervoor dat als twee buttons naast elkaar staan, er altijd ruimte tussen blijft*/
button + button {
  margin-left: 8px;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  background-color: #FAD57F;
}

a,
a:visited,
a:active {
  color: #0d3b66;
}

a:hover {
  color: #ea7e1f;
}

/* --------------- 5. Other --------------------------- */

nav a,
nav a:visited,
nav a:active {
  text-decoration: none;
  color: #333333;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.logo-container img {
  width: 100px;
  margin-right: 8px;
}

section  {
  margin: 0 0 50px 0;
}

.error {
  color: orangered;
}

/*Zet mij op een element en ik blijf voor altijd draaien!*/
.loading-icon {
  width: 16px;
  height: 16px;
  animation: rotating 1.5s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------- 4.6 Footer ------------------------- */

#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */


/*Omdat hier maar zo weinig media-queries nodig zijn is er gebruik gemaakt van een max-width query.*/
/*Normaliter maak je altijd gebruik van min-width queries, waarbij de versie voor mobiel buiten de query staat, */
/*en de versie voor desktop juist BUITEN de query*/
@media screen and (max-width: 576px) {
  h1, h2 {
    font-size: 36px;
    padding: 16px 0;
  }

  h3 {
    font-size: 26px;
  }


  h6 {
    font-size: 22px;
    line-height: 1.5;
    padding: 12px 0;
  }

  .header-content__navigation {
    justify-content: center;
  }

  .header-content__navigation a {
    font-size: 16px;
    font-weight: 600;
  }

  .intro__link {
    margin: 50px 0 0 0;
  }

  .work-article:nth-of-type(odd),
  .work-article {
    flex-direction: column;
    margin: 0;
  }

  .work-article__image-wrapper {
    /*om de breedte, die nu geldt als lengte, te overschrijven*/
    flex-basis: auto;
  }

  .work-article__info-container {
    padding: 0 0 50px 0;
    /*om de breedte, die nu geldt als lengte, te overschrijven*/
    flex-basis: auto;
  }

  #services > div {
    padding: 100px 0 50px 0;
  }
}